/* flex fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");

/* mainsec fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400px;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 80px;
  background-color: rgb(254, 254, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
.leftsidemenu {
  display: flex;
  margin-left: 70px;
  /* margin-top: 20px; */
  align-items: center;
}
.leftsidemenu .logo h1 a {
  color: #495057;
  font-size: 22px;
  letter-spacing: -1px;
  padding: 7.2px 11.2px;
}
.leftsidemenu ul {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-left: 5px;
}
.leftsidemenu ul li a {
  color: #5b6167;
  padding: 7.2px 11.2px;
  font-size: 17px;
}

.rightsidemenu {
  margin-right: 90px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.rightsidemenu h4 a {
  color: #000029;
  font-size: 15px;
}
.rightsidemenu .btn_nav {
  background-color: black;
  border-radius: 5px;
  border: none;
  padding: 12px 25px;
  margin-left: 18px;
}
.rightsidemenu .btn_nav a {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.mainsec1 {
  /* margin: 0px 70px; */
  width: 100%;
  margin-bottom: 100px;
}
.mainsec1 h1 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 60px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
}
.mainsec1 .flexclasses {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* width: ; */

  height: max-content;
}
.mainsec1 .flexclasses .boxs {
  width: 26%;
  position: relative;
  /* border: 1px solid black; */
  margin-right: 30px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  color: #495057;
  font-weight: 400;
  transition: all 0.1s ease;
}
.mainsec1 .flexclasses .boxs:hover {
  padding-right: 8px;

  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.mainsec1 .flexclasses .boxs img {
  width: 100%;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* .mainsec1 .flexclasses .boxs img:hover {
  border-radius: 50%;
} */
.mainsec1 .flexclasses .boxs h3 {
  font-size: 23px;
  margin: 12px 10px;
}

.mainsec1 .flexclasses .boxs p {
  font-size: 15px;
  padding-top: 12px;
  padding-left: 10px;
}
.mainsec1 .flexclasses .boxs .ptwo {
  padding: 10px 0px 14px 10px;
}
span {
  color: #1a73e8;
}
.container h1 {
  font-size: 42px;
  text-align: center;
  margin-left: 40px;
  padding: 22.5px;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: -2px;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Rubik", sans-serif;
}
.container {
  width: 95%;
  height: 645px;
  margin: 30px 0px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexcontainer {
  display: flex;
  /* margin: 0px 100px; */
  margin-left: 60px;
  justify-content: center;
  width: 100%;
  height: 500px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: aqua; */
}
.box {
  text-align: center;
  width: 350px;
  height: max-content;
  /* margin: 0px 12px; */
  /* display: flex; */
  padding: 12px;
  border-radius: 7px;
  border: 1px solid #cacaca;
  /* word-wrap: break-word; */
}
.box h3 {
  font-family: google sans display;
  font-size: 25.5px;
  color: #212529;
  margin-bottom: 15px;
}
.box img {
  width: 67.5px;
  height: 67.5px;
}
.box p {
  font-size: 18.75px;
  margin-bottom: 15px;
  color: #495057;
  line-height: 1.5;
}
.box1 {
  margin-right: 30px;
  padding-bottom: 10px;
}
.box2 {
  margin-right: 30px;
  padding-bottom: 10px;
}
.box3 {
  padding-bottom: 10px;
}
.box4 {
  margin-right: 30px;
}
.box5 {
}

/* footer sec */
.footer {
  color: white;
  width: 100%;
  height: 430px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer h3 {
  margin-bottom: 50px;
  font-size: 30px;
  color: #b4b4b4;
  margin-top: 60px;
  font-weight: 600px;
  letter-spacing: -1px;
  padding-right: 20px;
}
.footer .fnav {
  margin-left: 20px;
}
.footer .fnav ul {
  display: flex;
  margin-bottom: 60px;
  /* margin-left: 20px; */
}

.footer .fnav ul li a {
  color: #676966;
  font-size: 18px;
  margin-right: 20px;
}

.footer .soci ul {
  display: flex;
  margin-bottom: 70px;
}

.fa {
  border-radius: 50%;
  padding: 20px;
  font-size: 35px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: #676966;
}

.fa-twitter {
  color: #676966;
}

.fa-google {
  color: #676966;
}

.fa-linkedin {
  color: #676966;
}

.fa-youtube {
  color: #676966;
}
.copyright p {
  color: #b4b4b4;
  font-size: 12px;
  font-weight: 600px;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  /* justify-self: self-end; */
}
